* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Color palette */
:root {
    --nav-color: rgba(0, 132, 253, 1);
    --blue-card: rgba(181, 221, 255, 1);
}

/* ***********************************************************
*********************************************************** */

/* Utilities */
.d-flex {
    display: flex;
}

.card {
    padding: 1rem;
    border-radius: 1rem;
    height: 100%;
}
.card.d-flex {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.col-12 {
    width: 100%;
    border: 1px dashed black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}


.blue-btn {
    background-color: var(--nav-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}



/* ***********************************************************
*********************************************************** */
/* #region header */

header {
    background-color: var(--nav-color);
    padding: 0.5rem 0;
}

.container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    display: none;
}

header a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

header i {
    color: white;
}

/* #endregion header */

/* #region demo */
.demo .card {
    background-color: var(--blue-card);

}

.demo img {
    width: 100%;
    margin-bottom: -1rem;
}

.card-demo p {
    margin: 1rem 0rem
}

.demo h4 {
    color: var(--nav-color);
}

.demo a {
    display: flex;
    gap: 1.5rem;
    text-decoration: none;
    width: 60%;
    justify-content: center;
    margin-bottom: 1rem;
}

.demo .icon {
    font-size: 5rem;
    color: var(--nav-color);
}

/* #endregion demo */

.partners .container {
    display: flex;
    flex-direction: column;
}

.partner-card {
    display: flex;
    width: 100%;
}

.partner-left {
    width: 20%;
    border: 1px dashed red;
}

.partner-right {
    width: 80%;
    border: 1px dashed red;
}

.benefits .container {
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .col-md-8 {
        width: calc((100% / 12) * 8);
    }

    .col-md-6 {
        width: calc((100% / 12) * 6);
    }

    .col-md-4 {
        width: calc((100% / 12) * 4);
    }

    .card-demo div:nth-child(2) {
        width: 50%;
    }

}

@media screen and (min-width: 992px) {
    .col-lg-6 {
        width: calc((100% / 12) * 6);
    }

    .col-lg-4 {
        width: calc((100% / 12) * 4);
    }

    .container {
        width: 60%;
    }

    .fa-bars {
        display: none;
    }

    .menu {
        display: flex;
    }

    .card-demo {
        display: flex;
    }

    .card-demo div:nth-child(1) {
        width: 50%;
    }
}