* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Color palette */
:root {
    --nav-color: rgba(0, 132, 253, 1);
}

/* ***********************************************************
*********************************************************** */

/* Utilities */
.col-12 {
    width: 100%;
    border: 1px dashed black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* ***********************************************************
*********************************************************** */


header {
    background-color: var(--nav-color);
    padding: 0.5rem 0;
}

.container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    display: none;
}

header a {
    text-decoration: none;
    color: white;
}
.btn {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}
header i {
    color: white;
}

.partners .container {
    display: flex;
    flex-direction: column;
}
.partner-card {
    display: flex;
    width: 100%;
}
.partner-left {
    width: 20%;
    border: 1px dashed red;
}
.partner-right {
    width: 80%;
    border: 1px dashed red;
}

@media screen and (min-width: 480px) {
    .col-md-8{
        width: calc((100% / 12) * 8);
    }
    .col-md-4{
        width: calc((100% / 12) * 4);
    }
   
}

@media screen and (min-width: 768px) {
    .col-lg-6{
        width: calc((100% / 12) * 6);
    }
}